
*{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: sans-serif;
}
 body{
    background-color: #001;
    display: flex;
 }
/* Profile img */
.img-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff;
    flex-shrink: 0;
}
.img-box img{
    width: 100%;
}
/* name profile */
.profile{
 display: flex;
 align-items: center;
 gap: 30px;
}
/* profile */
.profile h2{
    font-size: 20px;
    text-transform: capitalize;
}
/* menu */
 .menu{
    background-color: #123;
    width: 60px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: 0.5s;
 }
 .menu:hover{
    width: 260px;
 }
 ul{
    list-style: none;
    position: relative;
    height: 95%;  /*  log-out is 95% away from the menus.*/
 }
 ul li a{
    display: block;
    text-decoration: none;
    background-color: #f00;
    padding: 10px ;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 50px;              /* Spacing of writing from icons*/
    transition: 0.5s;
 }    
ul li a:hover, .active, .data-info .box:hover, td:hover{
    background-color: #ffffff55;
}
.log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.log-out a{
    background-color: #a00;
}
ul li a i{
    font-size: 30px;
}

/*  ============================ */
/*  ============================ */

/* content */ 



/* Title Dachboard */
.content{
    background-color: #0009;
    width: 100%;
    margin: 10px;
}
.title-info{
    background-color: #123;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin: 10px 0;
}

/* Data Box Dachboard */
.data-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
     
}
.data-info .box{
    background-color: #123;
    height: 150px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.data-info .box i{
    font-size: 40px;
}

/* Products Dachboard */
.data-info .box .data{
    text-align: center;
    cursor: pointer;
}
.data-info .box .data span{
    font-size: 30px;
}

/* Tabel Dachboard */
table{
    width: 100%;
    text-align: center;
    border-spacing: 8px;
}
td, th{
    background-color: #123;
    height: 40px;
    border-radius: 8px;
}
th{
    background-color: #f00;
}
.price, .trip{
    padding: 6px;
    border-radius: 6px;
    background-color: #09ac9f;
 

}
.price{
    background-color: green;
}
.trip{
    background-color: gold;
    color: black;
}
